<div class="row-fluid">
  <div class="span6">
    <%= link_to '< Back', patient_visits_path(@patient) %>
    <br>
    <strong>Patient: <%= @patient.fullname %></strong> <br>
  </div>
  <div class="span6"><h2 class="pull-right">Patient Visit Form</h2>
  </div>
</div>
<hr>



<div class="row-fluid">
  <div class="span12">
    <%= render "form" %>
  </div>
</div>





