<div class="row-fluid">


  <h2> PATIENT’S CONSENT TO DILATION: WHAT IS DILATION?</h2>

  <p>
    In order to check for eye diseases such as glaucoma, cataract, eye tumors, and retinal diseases, it is important
    that
    the doctor dilates your’ eyes by putting eye drops to make your pupils bigger. Please understand that most of these
    conditions cannot be detected without dilation.
  </p>

  <p>The side of effects of the eye drops are blurred near vision (those
    under 50) for 5-6 hours and sunlight sensitivity. Despite the inconvenience, we strongly recommend our patients have
    their eyes dilated once a year (particularly) those who have diabetes, those who have not been dilated for more than
    2
    years, or those with high prescription glasses.
  </p>

  <p>WE DO NOT RECOMMEND THIS PROCEDURE IF YOU ARE PREGNANT OR NURSING.
    Because dilation requires more time spent examining the patient, there is an additional fee of $8.00 for this
    procedure. Please choose the option YES to indicate if you would want this procedure today.
  </p>

</div>