<div class="row-fluid">
  <div class="span12">
    <h1>Editing patient_visit_reason</h1>
    <%= render "form" %>
    <%= link_to 'Back', patient_visit_patient_visit_reasons_path(@patient, @visit) %>
  </div>
</div>