<div class="row-fluid">
  <div class="span12">
    <h3>Patient: <%= @patient.fullname %>
      <br>
      <small style="display: block;">Please check any conditions that apply to your or to family member in the
        appropriate box (past or present)
      </small>
    </h3>
    <br>
    <%= render 'form' %>
  </div>
</div>